body{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#board{
    height:610px;
    width: 610px;
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#billboard{
    width: 610px;
    height:50px;
    border: 5px solid black;
    margin:20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quadrant{
    height:200px;
    width: 200px;
    border: 5px solid black;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

form{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

